@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:500,400,700|Roboto:500|Secular+One:400|Ubuntu:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Merge One-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6546f9f275320a88565fa977/fonts/mergeone-regular.ttf")
    format("truetype");
}
