<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../Styles/cadastro.css">
    <link rel="stylesheet" href="../Styles/animation.css">
</head>

<body>
    <form action="../PHP/cadastro.php" method="post">
        <h1><span>Harp</span>Hub</h1>
        <div class="caminho">
            <ul class="etapas_circle">
            <li class="circle"></li>
            <li class="circle"></li>
            <li class="circle"></li>
            </ul>
        </div>
        <div class="card active" id="steps">
            <div class="card_terms_text">
                <h2>Termos de Uso</h2>
                <p>Algumas regras básicas.
                    Estes são definidos e aplicados pelos moderadores de (nome do site)
                    
                    1. Mídias sexualmente explícitas ou violentas devem ser marcadas como sensíveis ou acompanhadas de aviso de conteúdo, incluindo material provocativo ou imagens de mortos.<br>
                    2. Proibido racismo, sexismo, homofobia, transfobia, ableísmo, xenofobia ou castaísmo; comportamentos como misgendering e deadnaming são estritamente vedados, assim como a promoção de discursos de ódio. <br>
                    3. Não incitar violência nem promover ideologias violentas; chamar pessoas ou grupos para serem agredidos, assassinados ou atacados fisicamente é proibido, assim como apoiar tais atos. <br>
                    4. Proibido assédio, evasão de bloqueio, dogpiling ou doxxing; tentativas repetidas de contatar usuários bloqueados ou criar contas para perseguir são inaceitáveis. <br>
                    5. Não compartilhar informações amplamente conhecidas como falsas ou enganosas, incluindo links de fontes de baixa qualidade que visem desinformar. <br>
                    6. Todo conteúdo de terceiros deve ser atribuído ao autor ou criador, e o uso de inteligência artificial generativa deve ser claramente divulgado, especialmente em conteúdo adulto. <br>
                    </p>
                <input type="checkbox" name="terms" id="terms" class="termos" required>
                <label for="terms">Li e aceito os termos de uso</label>
                <button class="aceitar_terms" id="btnAceitar">Aceitar</button>
            </div>
        </div>

        <div class="card" id="steps">
            <div class="card_user-tag_text">
                <input type="checkbox" name="tag1" id="tag">
                <label for="tag1">musico</label>
                <input type="checkbox" name="tag2" id="tag">
                <label for="tag2">Poeta</label>
                <input type="checkbox" name="tag3" id="tag">
                <label for="tag3">Escritor</label>
                <input type="checkbox" name="tag4" id="tag">
                <label for="tag4">Compositor</label>
                <input type="checkbox" name="tag5" id="tag">
                <label for="tag5">Ilustrador</label>
                <input type="checkbox" name="tag6" id="tag">
                <label for="tag6">Artista</label>
                <input type="checkbox" name="tag7" id="tag">
                <label for="tag7">teatro</label>
                <input type="checkbox" name="tag8" id="tag">
                <label for="tag8">Entretenimento</label>
                <button class="btnAvancar" id="btnAvancar">Avancar</button>
            </div>
            
        </div>
        <div class="card" id="steps">
            <label for="nome_completo">Nome</label>
            <input type="text" class="text" name="nome_completo" id="nome_completo" required>
            <label for="nome_user">Nome de Usuário</label>
            <input type="text" class="text" name="nome_user" id="nome_user" required>

            <label for="email">Email</label>
            <input type="email" class="text" name="email" id="email" required autocomplete="email">

            <label for="senha">Senha</label>
            <input type="password" class="text" name="senha" id="senha" required>

            <label for="confirmar_senha">confirmar_senha</label>
            <input type="password" class="text" name="confirmar_senha" id="confirmar_senha" required>

            <label for="data_nasc">Data de Nascimento</label>
            <input type="date" class="text" name="data_nasc"  required format="dd/mm/yyyy">
            <input type="submit" class="submit" value="Cadastrar" name="cadastrar" id="data_nasc">
            <p class="already">Já tem uma conta? <a href="../Layout/login.html">Entrar</a></p>
        </div>  
</form>
</body>
<script src="../Scripts/index.js"></script>
<script src="../Scripts/animation.js"></script>
</html>