<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../Styles/cadastro.css">
</head>

<body>
    <div class="form">
        <form action="../PHP/cadastro.php" method="POST">
            
            <label for="nome_completo">Nome asdsadsa</label>
            <input type="text" class="text" name="nome_completo" required>

            <label for="nome">Nome de Usuário</label>
            <input type="text" class="text" name="nome_user" required>

            <label for="email">Email</label>
            <input type="email" class="text" name="email" required>

            <label for="senha">Senha</label>
            <input type="password" class="text" name="senha" required>

            <label for="confirmar_senha">confirmar_senha</label>
            <input type="password" class="text" name="confirmar_senha" required>

            <label for="datanasc">Data de Nascimento</label>
            <input type="date" class="text" name="data_nasc" required format="dd/mm/yyyy">

            <input type="checkbox" name="terms" id="termos" class="termos" required>
            <label for="termos">Li e aceito os termos de uso</label>

            <input type="submit" value="Cadastrar">
        </form>
    </div> 
</body>
</html>