<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../Styles/cadastro.css">
</head>

<body>
            <div class="form">
                <form action="../PHP/login.php" method="POST">
                <label for="Login">Login</label>
                <input type="text" class="text" name="login" required>
                <label for="senha">Senha</label>
                <input type="password" class="text" name="senha" required>
                <input type="submit" value="Logar">
                </form>
            </div>
        </div>
</body>

</html>