.show{
  animation: ShowEase .5s forwards ease-in-out;
}

/* Classe para animação */
.left {
  opacity: 0;
  animation: left 0.5s forwards ease-in-out;
}

.slides {
  will-change: transform, opacity;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slides:hover {
  transform: scale(1.2); /* Aplica o scale ao passar o mouse */
  z-index: 10; /* Garante que o elemento fique acima */
}

.slides:nth-child(2) {
  animation-delay: 400ms;
}
.slides:nth-child(2):hover {
  transform: scale(1.2);
}

.slides:nth-child(3) {
  animation-delay: 800ms;
}
.slides:nth-child(4) {
  animation-delay: 1200ms;
}

/* Animação apenas para translação */
@keyframes left {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%); /* Apenas a translação */
  }
  100% {
    transform: translateX(0); /* Apenas a translação */
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes top-to-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes ShowEase{
  0% {
    opacity: 0;
    filter: blur(5px);

  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
