* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Variaveis do site*/
:root {
    --fundo: black;
    --roxo: #8C19CD;
    --fontfm: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fontsz: 18px;
    --fontTit: 23px;
    --botao: radial-gradient(
        closest-side,
        rgba(160, 131, 247, 1) 0%,
        rgba(33, 0, 133, 1) 100%);
}

body {
    color: white;
    background-color: var(--fundo);
    height: 200vh;
}

nav{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 0 15px;
    align-items: center;
    gap: 30%;
    height: 60px;
    width: 80%;
    display: flex;
    border-top: rgba(255, 255, 255, 0.603) solid 1px;
    border-bottom: #8C19CD solid 1px;
    border-radius: 100px;
    box-shadow: 0px 5px 20px 0px
    var(--roxo);
}


/*faixa de Links para outras Paginas*/
nav .left {
    margin: 0 0 0 1cm ;
    font-family: var(--fontfm);
}

nav .mid {
    display: flex;
}

.mid ul{
    display: flex;
    list-style:none;
    gap: 50px;
    font-family: var(--fontfm);
    font-size: var(--fontsz);
}

.right button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: var(--roxo);
    color: #ffffff;
    border: 1px solid;
    font-size: var(--fontsz);
    font-family: var(--fontfm);
}

/* Corpo Principal de cima (Main) */

.princ{
    padding: 5cm 0 0 0;
    font-family: var(--fontfm);
    font-size: var(--fontTit);
}

.Tito{
    position: absolute;
    left: 40%;
}

.subtito{
    position: absolute;
    left: 25%;
    top: 250px;
}

.b-entrar,
.b-entrar * {
  box-sizing: border-box;
}
.b-entrar {
    position: absolute;
    left: 44%;
    top: 150px;
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 197px;
  height: 68px;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.1);
}
.rectangle-138 {
  background: radial-gradient(
    closest-side,
    rgba(160, 131, 247, 1) 0%,
    rgba(33, 0, 133, 1) 100%
  );
  border-radius: 32px;
  border-width: 3px;
  border-image:  solid linear-gradient(
    90.89deg,
    rgba(165, 125, 253, 1) 12.630826234817505%,
    rgba(102, 31, 255, 1) 100%
  );
  border-image-slice: 1;
  flex-shrink: 0;
  width: 195px;
  height: 64px;
  
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.9),
    inset 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}
.come-ar {
  color: #ffffff;
  text-align: center;
  font-family: "SofiaSans-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 36px;
  top: 16px;
  width: 125px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.carrocel{ 
    position: absolute;
    top: 500px;
}

.princ .item1{
    border-radius: 10px;
    position: absolute;
    left: 250px;
    float: left;
    height: 380px;
    width: 450px;
    background: bisque;
    border: solid black 1px;
    z-index: 1;
    border: 0;
}
.princ .item2{
    position: absolute;
    left: 570px;
    margin-top: -35px;
    box-shadow: #000000 0 0 40px 0;
    border-radius: 10px;
    float: left;
    height: 450px;
    width: 450px;
    background: white;
    border: solid black 1px;
    z-index: 3;
    border: 0;
}
.princ .item3{
    position: absolute;
    left: 900px;
    border-radius: 10px;
    float: left;
    height: 380px;
    width: 450px;
    background: red;
    border: solid black 1px;
    z-index: 2;
    border: 0;
}