<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HarpHub</title>
    <link rel="stylesheet" href="../Styles/HomePage.css">
    <link rel="stylesheet" href="../Styles/animation.css">
</head>

<body>
    <nav class="navigation hidden">
        <div class="left"><B>Harp</B>Hub</div>
        <div class="mid">
            <ul>
                <li>Sobre Nós</li>
                <li>Recursos</li>
                <li>FAQs</li>
            </ul>
        </div>
        <div class="right"><button onclick="cadastroMV()">Entrar</button>
        </div>
    </nav>
    <main class="princ">
        <h1 class="Tito">Registre sua Arte</h1>
        <p class="subtito">Garanta sua autoria com segurança em uma plataforma feita por criadores, para criadores.</p>

        <div class="carrocel">
            <div class="item1">Item 1</div>
            <div class="item2">Item 2</div>
            <div class="item3">Item 3</div>
        </div>
    </main>

    <main2>
        <div class="infopla">
            <div class="tit titulo">
                <h1>O que é nossa plataforma?</h1>
                <p>Nossa plataforma é uma rede social dedicada a criadores de conteúdo, como autores, artistas, músicos,
                    poetas e ilustradores. Projetada para ser um ambiente seguro, confiável e acolhedor, ela oferece um
                    espaço onde a criatividade é celebrada, permitindo que artistas\\\\\ publiquem, armazenem e
                    compartilhem suas obras, como textos, poesias, ensaios, ilustrações e músicas.</p>
            </div>
            <div class="imgs"></div>
        </div>
    </main2>

</body>
<script src="../Scripts/index.js"></script>
<script src="../Scripts/animation.js"></script>

</html>