<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../Styles/load.css" />
  <link rel="stylesheet" href="https://lottie.host/0e5e4b08-b324-439b-90a7-07a52e5a217a/HkotWcJZau.lottie">
</head>
<body>
  <div class="container">
    <div class="loader">
      <iframe src="https://lottie.host/embed/0e5e4b08-b324-439b-90a7-07a52e5a217a/HkotWcJZau.lottie"></iframe>
    </div>
  </div>
</body>
<script src="../Scripts/load.js"></script>
<script
  src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.1/dist/dotlottie-wc.js"
  type="module"
></script>
</html>