<!--<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../Styles/login.css">
</head>

<body>
            <div class="form">
                <form action="../PHP/login.php" method="POST">
                <label for="Login">Login</label>
                <input type="text" class="text" name="login" required>
                <label for="senha">Senha</label>
                <input type="password" class="text" name="senha" required>
                <input type="submit" value="Logar">
                </form>
            </div>
        </div>
</body>

</html>-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Login2.css">
    
    <title>Formulário</title>
</head>
<body>
    <section class="containerPai">
        <div class="card loginActive">
            <div class="esquerda">
                <div class="formLogin">
                    <h2>Fazer Login</h2>
                    <form method="post" action="../PHP/login.php">
                        <input type="email" placeholder="E-mail" name="login">
                        <input type="password" placeholder="Senha" name="senha">
                        <input type="submit" value="Logar">
                    </form>
                </div>
                <div class="facaLogin">
                    <h2>Já tem <br>uma conta?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nemo corporis, aspernatur in dolor</p>
                    <button class="loginButton">Faça Login</button>
                </div>
            </div>
            <div class="direita">
               <div class="formCadastro">
                <h2>Cadastro</h2>
                <form method="POST" action="../PHP/cadastro.php">
                    <input type="text" placeholder="Nome de exibição" name="nome_completo" required>
                    <input type="text" placeholder="Nome de Usuário" name="nome_user" required>
                    <input type="date" placeholder="Data de Nascimento" name="data_nasc"  required format="dd/mm/yyyy">
                    <input type="email" placeholder="E-mail" name="email" id="email" required autocomplete="email">
                    <input type="password" placeholder="Senha" name="senha" id="senha" required>
                    <input type="password" placeholder="Confirmar Senha" name="confirmar_senha" id="confirmar_senha" required>
                    <input type="checkbox" name="terms" id="terms" class="termos" required>
                    <label for="terms">Li e aceito os termos de uso</label>  
                    <input type="submit" value="cadastrar" name="cadastrar">
                    
                </form>
               </div> 
               <div class="facaCadastro">
                <h2>Não tem <br>uma conta?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, nemo corporis, aspernatur in dolor</p>
                <button class="cadastroButton">Cadastre-se</button>
               </div>
            </div>
        </div>
    </section>
</body>
<script src="../Scripts/scriptlogin.js" defer></script>
</html>