<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/login.css">
    <link rel="stylesheet" href="../Styles/global.css">
    <title>HarpHub - Entrar</title>
</head>

<body>
    <div id="error-container"></div>
    <section class="containerPai">
        <div class="card loginActive">
            <div class="esquerda">
                <div class="formLogin">
                    <h2>Faça Login</h2>
                    <form method="post" action="../PHP/login.php" class="login-form">
                        <input type="email" placeholder="E-mail" name="login" required>
                        <input type="password" placeholder="Senha" name="senha" required>
                        <input type="submit" value="Login">
                    </form>
                </div>

                <div class="facaLogin">
                    <h2>Já tem uma conta?</h2>
                    <p>Já possui conta? Entre e continue compartilhando sua criatividade.</p>
                    <button class="loginButton">Faça Login</button>
                </div>
            </div>

            <div class="direita">
                <div class="formCadastro">
                    <h2>Cadastre-se</h2>
                    <form method="POST" action="../PHP/cadastro.php" class="cadastro-form">
                        <input type="text" placeholder="Nome" name="nome_user" required>
                        <input type="text" placeholder="Username" name="nome_completo" required>

                        <input type="date" placeholder="Data de Nascimento" name="data_nasc" required>
                        <input type="email" placeholder="E-mail" name="email" id="email" required autocomplete="email">
                        <input type="password" placeholder="Senha" name="senha" id="senha" required>
                        <input type="password" placeholder="Confirmar Senha" name="confirmar_senha" id="confirmar_senha"
                            required>

                        <div class="termos-container">
                            <input type="checkbox" name="terms" id="terms" class="termos" required>
                            <label for="terms">Eu li e concordo com os termos de serviços e política de
                                privacidade.</label>
                        </div>

                        <input type="submit" value="Cadastrar" name="cadastrar">
                    </form>
                </div>

                <div class="facaCadastro">
                    <h2>Não tem uma conta?</h2>
                    <p>Junte-se à comunidade de criadores e dê voz às suas ideias em um espaço feito para a inovação.
                    </p>
                    <button class="cadastroButton">Cadastre-se</button>
                </div>
            </div>
        </div>
    </section>

    <script src="../Scripts/scriptlogin.js" defer></script>
    <script src="../Scripts/ajaxInteractions.js" defer></script>
    <script src="../Scripts/login.js" defer></script>
    <script src="../Scripts/cadastro.js" defer></script>

</body>

</html>