<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navegação</title>
  <link rel="stylesheet" href="../Styles/telainicial.css">
</head>
<body>
<header>
    <div class="logotipo">LOGO</div>
    <input type="search" name="search-bar" id="search-bar" placeholder="Barra de pesquisa" >
    <div class="nav-user">
      <ul>
        <li><span>notificações</span></li>
        <li><span><?php echo $_SESSION['user_name']; ?></span></li>
      </ul>
    </div>
</header>
<img src="../images/profile.png" alt="">
<main>
  <nav class="nav-side">
    <div class="user-avatar">
      <div class="user-avatar-img">
        <img src="<?php $user_avatar = !empty($_SESSION['avatar']) ? $_SESSION['avatar'] : '../images/profile.png';?>" alt="Avatar do usuário">
      </div>
      <span><?php echo $_SESSION['user_name']; ?></span>
    </div>
    <ul>
      <li><a href="?feed=foryou">Página inicial</a></li>
      <li>Explorar Comunidades</li>
      <li>Galeria</li>
      <li>Criar +</li>
      <li>Perfil</li>
    </ul>
    <div class="tools">
      <ul>
        <li>Configurações</li>
        <li>Ajuda</li>
      </ul>
    </div>
  </nav>

  <section class="navigation-user">
    <div class="initial-options">
      <ul>
        <li><a href="?feed=foryou" <?php if($tipo_feed==='foryou') echo 'class="active"'; ?>>Para Você</a></li>
        <li><a href="?feed=seguindo" <?php if($tipo_feed==='seguindo') echo 'class="active"'; ?>>Seguindo</a></li>
      </ul>
    </div>
    <div class="conteudo">
      <?php echo $no_obras ?>
      <?php while ($post = $result->fetch_assoc()) { ?>

        
        <article class="posts">
          <h1 class="no-obra'></h1>
          <div class="descricao-post">
            <strong><?php echo htmlspecialchars($post['nome_user']); ?></strong> - <?php echo htmlspecialchars($post['descricao']); ?>
          </div>
          <?php if (!empty($post['arquivo_url'])) { ?>
            <div class="img-post">
              <img src="../uploads/<?php echo htmlspecialchars($post['arquivo_url']); ?>" alt="">
            </div>
          <?php } ?>
          <div class="footer-post">
            <ul>
              <li>Comentários</li>
              <li>Repost</li>
              <li>Curtidas</li>
              <li>Compartilhar</li>
            </ul>
            <span>Salvar</span>
          </div>
        </article>
      <?php } ?>
    </div>
  </section>
</main>
</body>
</html>