@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-primary: #6a00ff;
  --color-dark-bg: #030005;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-muted: #cdcdcd;
  --font-heading: 'Ubuntu', sans-serif;
  --font-body: 'Merge One', sans-serif;
  --font-ui: 'Sofia Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

body {
  background-color: var(--color-dark-bg);
  color: var(--color-text-light);
  font-family: var(--font-body);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1535px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.section {
  padding-top: 200px;
  padding: 150px;
  position: relative;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.btn {
  display: inline-block;
  padding: 6px 21px;
  border-radius: 20px;
  font-family: var(--font-ui);
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

blur-back .light{
  box-shadow:
  #f524ff 0px 0px 500px 0px,
  #6A00FF 10px 1px 80px 10px,
  #4800FF 0px 20px 100px 10px;
}

.luz{
  display: flex;
  flex-direction: column;
  margin-bottom: -120px;
  
}

.luz1{
  justify-content: center;
  position: relative;
  left: 22.5rem;
  top: -2rem;
  width: 30rem;
  border-left: 550px solid transparent;
  border-right: 600px solid transparent;
  border-top: 35px solid #FFFFFF;
  filter: blur(1.5rem);
  z-index: 3;
}
.luz1-back{
  position: relative;
  left: 0rem;
  top: -3rem;
  border-left: 550px solid transparent;
  border-right: 600px solid transparent;
  border-top: 25px solid #8f2fff;
  filter: blur(.5rem);
  z-index: 1;
}

.luz2{
  position: relative;
  top: -6rem;
  border-left: 900px solid transparent;
  border-right: 1000px solid transparent;
  border-top: 30px solid #5425FF; 
  filter: blur(3.5rem);
  z-index: 2;
}

.luz3{
  position: relative;
  top: -7rem;
  border-left: 900px solid transparent;
  border-right: 1000px solid transparent;
  border-top: 75px solid #4809FF; 
  filter: blur(2.5rem);
  z-index: 1;
}


/* CSS from section:hero */
.blur-back {
  min-height: 933px;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 0;
  overflow: hidden;
  filter: blur(15px);
}

.hero-blur-background>* {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.blur-rect {
  background-color: #4800FF09;
  filter: blur(40px);
  height: 100%;
}

.blur-svg1 {
  filter: blur(100px);
}

.blur-svg2 {
  filter: blur(40px);
}

.blur-svg3 {
  filter: blur(40px);
}

.site-header {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  z-index: 10;
  background-color: #000000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

.logo-part1 {
  font-family: 'Secular One', sans-serif;
}

.main-nav ul {
  display: flex;
  gap: 45px;
}

.main-nav a {
  font-family: 'Merge One', sans-serif;
  font-size: 16px;
}

.log-cad-buttons {
  display: flex;
  gap: 9px;
}

.btn-login {
  background: linear-gradient(180deg, #4812ac 0%, #000000 100%);
  box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.1);
}

.btn-signup {
  background: linear-gradient(180deg, #4d00b3 0%, #6f00ff 100%);
}

.hero-content {
  text-align: center;
  margin-top: 67px;
  position: relative;
  z-index: 1;
}



/*-----------------------carrocel --------------------------------------------*/

.carrocel {
  position: absolute;
  width: 100%;
  top: 22rem;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.carrocel .item1 {
  position: relative;
  left: 16rem;
  border-radius: 10px;
  height: 440px;
  width: 550px;
  background: white;
  border: solid black 1px;
  z-index: 1;
  border: 0;
}

.carrocel .item2 {
  position: relative;
  left: 4rem;
  margin-top: -45px;
  box-shadow: #00000050 0 0 40px 0;
  border-radius: 10px;
  height: 550px;
  width: 1050px;
  background: white;
  border: solid black 1px;
  z-index: 3;
  border: 0;
}

.carrocel .item3 {
  position: relative;
  left: -15rem;
  border-radius: 10px;
  height: 440px;
  width: 650px;
  background: white;
  border: solid black 1px;
  z-index: 2;
  border: 0;
}

/* -------------------------------------------------------- */

@media (max-width: 768px) {
  .section{
      padding: 100px;
  }
  
  .main-nav {
    gap: 5px;
    width: 0rem;
    display: none;
  }

  .hero-content h1 {
    margin-left: -29rem;
    font-size: 48px;
  }

  .hero-content p {
    font-size: 18px;
    margin-left: -5rem;
  }

  .hero-section {
    min-height: auto;
    padding-bottom: 50px;
  }

  .site-header{
    gap: 5px;
    width: 53rem;
  }

  .carrocel {
  position: absolute;
  width: 100%;
  top: 25rem;
  display: flex;
  justify-content: center;
}

.carrocel .item1 {
  position: relative;
  margin-top: 2.5rem;
  left: 5rem;
  border-radius: 10px;
  height: 20rem;
  width: 220rem;
  background: white;
  border: solid black 1px;
  z-index: 1;
  border: 0;
}

.carrocel .item2 {
  position: relative;
  left: .5rem;
  margin-top: 0rem;
  box-shadow: #00000050 0 0 40px 0;
  border-radius: 10px;
  height: 25rem;
  width: 650rem;
  background: rgb(255, 0, 0);
  border: solid black 1px;
  z-index: 3;
  border: 0;
}

.carrocel .item3 {
  position: relative;
  margin-top: 2.5rem;
  left: -4rem;
  border-radius: 10px;
  height: 20rem;
  width: 220rem;
  background: white;
  border: solid black 1px;
  z-index: 2;
  border: 0;
}


}

/* CSS from section:sobre--------------------------------- */


.sobre-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.sobre-text {
  flex-basis: 50%;
  max-width: 555px;
}

.sobre-text h2 {
  font-family: var(--font-heading);
  font-size: 46px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 46px;
    background: linear-gradient(90deg, #cccccc 0%, #ffffff 50%, #cccccc 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.sobre-text p {
  font-size: 24px;
  line-height: 1.18;
  margin-bottom: 31px;
}

.saiba-mais {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--font-ui);
  font-weight: 700;
  font-size: 18px;
}

.saiba-mais img {
  width: 13px;
  background: wheat;
}

.sobre-image-stack {
  position: relative;
  width: 440px;
  height: 390px;
  flex-shrink: 0;
  background-color: white;
}

.sobre-image-stack img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sobre-img-bg {
  top: 5px;
  left: 5px;
  box-shadow: 0px 2px 10px 0px #000000, 0px 2px 40px 0px rgba(255, 255, 255, 0.3);
}

@media (max-width: 1024px) {
  .sobre-content-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .sobre-text {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .learn-more {
    justify-content: center;
  }
}

/* CSS from section:features --------------------------------------------------------*/
.features-section {
  background: linear-gradient(0deg, #20004f 0%, #030005 100%);
}

.features-section .section-title {
  font-family: var(--font-heading);
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 140px;
  background-image: linear-gradient(90deg, #cccccc 0%, #ffffff 50%, #cccccc 100%);
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 53px;
}

.feature-card {
  background: linear-gradient(225deg,#310080 35%, #4700a3 50%, #310080 65%);
  border-radius: 10px;
  box-shadow: 0px 0px 80px 0px rgba(51, 0, 127, 0.9), 0px 0px 120px 0px #000000;
  padding: 50px 30px;
  text-align: center;
  display: flex;
  border: solid;
  border-width: 3px;
  border-image: linear-gradient(90deg,#4700af 35%,#3100ff  50%, #4700af 65%);
  flex-direction: column;
  align-items: center;
}

.feature-icon {
  width: auto;
  height: 68px;
  margin-bottom: 40px;
}

.feature-card h3 {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;
}

.feature-card p {
  color: var(--color-text-muted);
  font-size: 18px;
  line-height: 1.18;
  max-width: 285px;
}

@media (max-width: 768px) {
  .features-section .section-title {
    font-size: 36px;
    margin-bottom: 80px;
  }
}

.light {
  height: 1px;
  background: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.596) 40%, black 73%);
  z-index: 10;
}

/* CSS from section:why-us---------------------------------------------------- */
.why-us-box {
  background: linear-gradient(226deg, #360094 0%, #9164cb 100%);
  border-radius: 20px;
  box-shadow: 0px 0px 250px 0px rgba(76, 0, 255, 0.5), 0px 0px 60px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 68px;
  border-width: 2px;
  border:solid;
  border-image: linear-gradient(90deg , #360094, #9164CB);
  margin-left: 80px;
  margin-right: 80px;
}

.why-us-image {
  flex-shrink: 0;
  width: 440px;
  height: 390px;
  border-radius: 15px;
  background: white;
}

.why-us-image img {
  width: 440px;
  height: 390px;
  background: white;
  border-radius: 10px;
}

.why-us-text h2 {
  font-family: var(--font-heading);
  font-size: 46px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 15px;
  background-image: linear-gradient(90deg, #fffacf 0%, #ffffff 71.91%, #bbbbbb 143.13%);
}

.why-us-text p {
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {

  .why-us-box {
    flex-direction: column;
    width: 450px;
    margin: 3.5rem;
  }

  .why-us-image img {
    width: 100%;
  }

  .why-us-text h2 {
    font-size: 2.4rem;
    text-align: center;
  }

  .why-us-section .container {
  padding-left: 0px;
  padding-right: 0px;
}

}

/* CSS from section:testimonials */
.testimonials-section {
  padding-bottom: 150px;
}

.testimonials-section .section-title {
  font-family: var(--font-heading);
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 115px;
  background-image: linear-gradient(90deg, #cccccc 0%, #ffffff 50%, #cccccc 100%);
}

.testimonials-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color: #eeeeff;
  border: 1px solid #5500ff;
  border-radius: 10px;
  box-shadow: 0px 0px 250px 0px rgba(128, 0, 255, 0.2), 0px 0px 100px 0px rgba(0, 0, 0, 0.2);
  color: var(--color-text-dark);
  padding: 34px 47px;
  width: 340px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.testimonial-card.featured {
  width: 360px;
  transform: translateY(-18px);
}

.testimonial-avatar {
  background-color: #6200ff;
  border-radius: 50%;
  width: 73px;
  height: 73px;
}

.testimonial-card.featured .testimonial-avatar {
  width: 86px;
  height: 86px;
}

.testimonial-quote {
  font-size: 18px;
  line-height: 1.67;
  flex-grow: 1;
}

.testimonial-card.featured .testimonial-quote {
  font-size: 20px;
}

.testimonial-author {
  font-family: 'Zain', sans-serif;
  font-size: 22px;
  line-height: 1.36;
}

.author-handle {
  margin-top: -4px;
}

/* CSS from section:mission */
.mission-box {
  background: linear-gradient(165deg, #0f0029 15%, #380069 54.18%, #0f0029 85.36%);
  border-radius: 10px;
  box-shadow: 0px 0px 250px 0px rgba(59, 0, 147, 0.5), 0px 0px 80px 0px rgba(0, 0, 0, 0.6), 0px 0px 250px 0px rgba(255, 255, 255, 0.05);
  padding: 48px 64px;
  border: solid #9500FF 1px;
  text-align: center;
  max-width: 1161px;
  margin: 0 auto;
}

.mission-box h2 {
  font-family: var(--font-heading);
  font-size: 46px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 38px;
  background-image: linear-gradient(90deg, #cccccc 0%, #ffffff 56.08%, #cccccc 112.16%);
}

.mission-box p {
  font-size: 22px;
  line-height: 1.36;
  max-width: 947px;
  margin: 0 auto 70px auto;
}

.btn-cta {
  background-color: #000000;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.2), 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 35px;
  font-family: var(--font-ui);
  font-size: 27px;
  font-weight: 400;
  color: var(--color-text-light);
  display: inline-block;
}

@media (max-width: 768px) {
  .mission-box {
    padding: 40px 20px;
  }

  .mission-box h2 {
    font-size: 36px;
  }

  .mission-box p {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

/* CSS from section:footer */
.site-footer {
  background-color: #10011b;
  border-radius: 40px 40px 0 0;
  box-shadow: 0px -4px 250px 0px rgba(255, 255, 255, 0.05);
  padding: 56px 0;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 107px;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.footer-column h4 {
  color: var(--color-primary);
  font-family: var(--font-body);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer-column ul li {
  margin-bottom: 1px;
}

.footer-column a {
  font-size: 18px;
  line-height: 1.94;
}

.footer-copyright {
  font-size: 18px;
  line-height: 1.94;
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}


@media (max-width: 1235px){
  .blur-back{
    width: 80rem;
  }

  .luz1{
  position: relative;
  left: 2.5rem;
  top: -10px;
  width: 30rem;
  border-left: 550px solid transparent;
  border-right: 600px solid transparent;
  border-top: 20px solid #FFFFFF;
  filter: blur(.5rem);
  z-index: 3;
}
}