
body{
    background-color: var(--fundo);
    width: 100vw;
    height: 100vh;
}
form{
    background-color: aliceblue;
    width: 30%;
    height: 90%;
    border: 1px solid var(--roxo);
    border-radius: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem 2rem;
}

form h1{
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
}
.caminho{
    width: 100%;
    height: 4em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.caminho::after{
    content: "";
    display: block;
    height: 3.5px;
    background-color: black;
    width: 80%;
    position: absolute;
}
.circle-option{
    background-color: white;
    border: 2px solid black;
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.circle{
    list-style: none;
    background-color: var(--roxo);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.card{
    display: none;
}
.card.active{
    display: block;
}
