.content{
  display: flex;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #222;
  box-shadow: 0 2px 8px #0006;
  width: 100%;
  color: #fff;
  text-align: start;

}
