.content{
    background-color: var(--background-card);
    min-height: 3rem;
    min-width: 50rem;
    border-radius: 1rem;
    border: 2px solid var(--border-color-dark);
}

.main {
    width: 30%;
}

form{
    position: absolute;
    top: 10rem;
    left: 20rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 60%;
    gap: .8rem;
}

.generos h1{
    font-size: 1.7rem;
    height: auto;
    padding: 1rem ;
}

.Titulo{
    height: 5rem;
    width: 100%;
    background-color: var(--background-card);
    padding: .5rem;
    border-radius: 1rem;
    color: white;
    border: 0;
}

.areatxt{
    resize: none;
    padding: .5rem;
    color: white;
}
.btns{
    display: flex;
    gap: .5rem;
    padding-left: 1rem;
}

.generos {
    min-height: 4rem;
}
.generos h1{
    width: 100%;
}

input[type="radio"] {
  display: none;
}

.generos .button {
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  background-color: var(--border-color-dark);
  cursor: pointer;
  transition: 0.3s;
}

input[type="radio"]:checked + .button {
  background-color: var(--roxo);
  color: white;
}

.Post-btn{
    font-family: var(--fontfm);
    width: 6rem;
    height: 2.5rem;
    border-radius: 5rem;
    position: relative;
    left: 90%;
    color: white;
    background-color: var(--roxo);
    border:1px solid black;
}

.post-img{
    display: flex;
    flex-direction: column;
    height: 3rem;
    padding: 4rem;
    text-align: center;
}
input[type="file"]::file-selector-button{
    width: 100%;
    height: 200px;
    background-color: var(--background-card);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}