.main {
    margin-left: -1px; 
    margin-top: 80px;   
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 2rem;
    background-color: #0A0A0A; 
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: #171717; 
    padding: 3rem;
    border-radius: 10px;
    width: 37.4rem;
    border: 1px solid #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #B8B8B8; 
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Inter', sans-serif; 
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-size: 16px; 
    color: #B8B8B8; 
    font-weight: 500;
    margin-left: 4px;
    font-family: 'Inter', sans-serif; 
}

input[type="text"],
select,
textarea {
    width: 100%;
    background-color: #272727; 
    border: 1px solid #3A3A3A;
    border-radius: 8px;
    padding: 14px;
    color: #B8B8B8; 
    font-size: 16px; 
    font-family: 'Inter', sans-serif; 
    outline: none;
    transition: 0.2s;
}

textarea {
    resize: none;
}

input[type="file"] {
    width: 100%;
    background-color: #272727;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3A3A3A;
    color: #B8B8B8; 
    font-size: 16px; 
    font-family: 'Inter', sans-serif; 
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: transparent;
    color: #B8B8B8; 
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 16px; 
    font-family: 'Inter', sans-serif; 
    cursor: pointer;
    transition: 0.2s;
}

.btn-submit {
    width: 100%;
    padding: 16px;
    border-radius: 50px; 
    background-color: #5600A1; 
    border: 2px solid #7B00FF;
    color: rgb(255, 255, 255);
    font-size: 16px; 
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    font-family: 'Inter', sans-serif; 
}

.btn-submit:hover {
    background-color: #6A00C5;
    border-color: #9D3AFF;
    transform: translateY(-2px);
}

@media (max-width: 1100px) {
    .main {
        margin-left: 80px; 
    }
}

@media (max-width: 768px) {
    .main {
        margin-left: 0;
        margin-top: 100px;
        padding: 1rem;
    }
}