body {
  background: #222;
  color: #fff;
}

.galeria-main {
  position: relative;
  width: auto;
  margin-top: 60px;
  margin-left: 264px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); 
  overflow-y: auto; 
  padding: 0; 
}

.galeria-header-sticky {
  position: sticky;
  top: 0; 
  background: var(--background-main);
  z-index: 10;
  padding: 15px 39px 0 39px; 
}

.galeria-main h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #C6C6C6;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 2rem;
}

.tags span {
  color: var(--roxo);
}

.galeria-categorias {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-left: 0;
}

.galeria-categorias button {
  background: #222;
  color: #C6C6C6;
  border: 1px solid #313131;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.galeria-categorias button:hover {
  border: 1px solid #5400c9;
  background-color: #28005c;
  color: #fff;
}

.galeria-grid {
  column-count: 4;
  column-gap: 1.2rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0 39px;
  padding-bottom: 39px;
}

.cat-btn.active {
  border: 1px solid #8859ff;
  background-color: #6A00FF;
  color: #fff;
}

.galeria-item {
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px #0006;
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  transition: box-shadow 0.2s;
}

.galeria-item img {
  width: 100%;
  object-fit: cover;
  border-bottom: 2px solid #333;
  transition: transform 0.3s;
}

.galeria-item.wide img {
  height: 180px;
}

.galeria-item.short img {
  height: 140px;
}

.galeria-item.tall img {
  height: 320px;
}

.galeria-item.narrow img {
  height: 260px;
}

.galeria-item.wide {
  grid-column: span 1;
}

.galeria-item.narrow {
  grid-column: span 1;
}

.galeria-item:hover img {
  transform: scale(1.04);
}

.galeria-item .autor {
  padding: 0.5rem;
  font-size: 0.95rem;
  color: #ccc;
}

.galeria-item .titulo {
  font-weight: bold;
  padding: 0.5rem;
  color: #fff;
}

.galeria-item .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.5rem;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.galeria-item:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .galeria-grid {
    column-count: 2;
    padding: 0 15px 15px 15px; 
  }

  .galeria-main {
    margin-left: 0;
  }
  
  .galeria-header-sticky {
      padding: 15px 15px 0 15px; 
  }
}

@media (max-width: 480px) {
  .galeria-grid {
    column-count: 1;
  }
}