@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontfm);
    font-weight: 300;
    overflow-x: hidden;
}
/* Variaveis do site*/
:root {
    --fundo: #000100;
    --roxo: #8C19CD;
    --fontfm: "Ubuntu", sans-serif;
    --fontsz: 18px;
    --fontTit: 32px;
    --botao: radial-gradient(
        closest-side,
        rgba(160, 131, 247, 1) 0%,
        rgba(33, 0, 133, 1) 100%);
}

.tit{
    font-size: var(--fontTit);
}

.titulo{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 200px 0px 0px 400px;
    gap: 25px;
    word-spacing: 4px;
    width: 650px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    color: white;
    width: 100vw;
    background-color: var(--fundo);
    height: 100vh;
}

nav{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 0 15px;
    align-items: center;
    gap: 30%;
    height: 60px;
    width: 80%;
    display: flex;
    border-top: rgba(255, 255, 255, 0.603) solid 1px;
    border-bottom: #8C19CD solid 1px;
    border-radius: 100px;
    box-shadow: 0px 5px 20px 0px
    var(--roxo);
}


/*faixa de Links para outras Paginas*/
nav .left {
    margin: 0 0 0 1cm ;
    font-family: var(--fontfm);
}

nav .mid {
    display: flex;
    width: 100%;
}

.mid ul{
    display: flex;
    list-style:none;
    gap: 50px;
    font-family: var(--fontfm);
    font-size: var(--fontsz);
}
.right{
    width: 100%;
     display: flex;
    gap:1.2rem;
    margin-right: 1cm;
    font-family: var(--fontfm);
    font-size: var(--fontsz);

}

.right button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: var(--roxo);
    color: #ffffff;
    border: 1px solid;
    font-size: var(--fontsz);
    font-family: var(--fontfm);
}

/* Corpo Principal de cima (Main) */

.princ{
    padding: 5cm 0 0 0;
    font-family: var(--fontfm);
    font-size: var(--fontTit);
}

.Tito{
    position: absolute;
    left: 35%;
}

.subtito{
    position: absolute;
    left: 15%;
    top: 250px;
}


.carrocel{ 
    position: absolute;
    top: 25rem;
}

.princ .item1{
    border-radius: 10px;
    position: absolute;
    left: 200px;
    float: left;
    height: 440px;
    width: 550px;
    background: white;
    border: solid black 1px;
    z-index: 1;
    border: 0;
}
.princ .item2{
    position: absolute;
    left: 400px;
    margin-top: -45px;
    box-shadow: #00000050 0 0 40px 0;
    border-radius: 10px;
    float: left;
    height: 550px;
    width: 1050px;
    background: white;
    border: solid black 1px;
    z-index: 3;
    border: 0;
}
.princ .item3{
    position: absolute;
    left: 1000px;
    border-radius: 10px;
    float: left;
    height: 440px;
    width: 650px;
    background: white;
    border: solid black 1px;
    z-index: 2;
    border: 0;
}

main2{
    box-shadow: #8C19CD50 0px 0px 10cm 0px;
    position: absolute;
    top: 102vh;
    height: 100vh;
    width: 100%;
}

.infopla{
    margin-top: 4cm;
    display: flex;
}

.imgs{
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    margin-top: 2.5cm;
    border-radius: 20px;
    box-shadow: #8C19CD 10px 10px 0px 1px;
}