* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Variaveis do site*/
:root {
  --fundo: black;
  --roxo: #8C19CD;
  --font-color: white;
  --fontfm: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --fontsz: 18px;
  --fontTit: 23px;
  --botao: radial-gradient(
      closest-side,
      rgba(160, 131, 247, 1) 0%,
      rgba(33, 0, 133, 1) 100%);
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fundo   );
  overflow: hidden;
}
iframe{
  width: 4rem;
  height: 4rem;
  border: none;
}
@media screen and (max-width: 768px){
  iframe{
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (max-width: 480px){
  iframe{
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  iframe{
    width: 4rem;
    height: 4rem;
  }
  
}
