/* Styles/opcoesPostModal.css */
.modal-opcoes-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal-opcoes-post {
    position: fixed;
    background-color: #1a1a1a;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 2000;
    animation: fadeIn 0.15s ease-out;
}


.modal-opcoes-post ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-opcoes-post li {
    padding: 1.2rem 1.5rem;
    font-size: 1rem;
    color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #333;
    text-align: start;
}

.modal-opcoes-post li:last-child {
    border-bottom: none;
}

.modal-opcoes-post li:hover {
    background-color: #2c2c2c;
}

.modal-opcoes-post li.delete-option {
    color: #ff4d4d;
    font-weight: bold;
}

.modal-opcoes-post li.delete-option:hover {
    background-color: #4d1a1a;
}

.modal-opcoes-post .cancel-option {
    font-weight: bold;
    color: #71767b;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
