@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontfm);
    font-weight: 300;
}
/* Variaveis do site*/
:root {
    --fundo: #000100;
    --roxo: #8C19CD;
    --fontfm: "Ubuntu", sans-serif;
    --fontsz: 18px;
    --fontTit: 32px;
    --botao: radial-gradient(
        closest-side,
        rgba(160, 131, 247, 1) 0%,
        rgba(33, 0, 133, 1) 100%);
}
body{
  width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

}
.main{
  display: flex;
  min-height: 100vh;
}
header{
  width: 100%;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
  border: 2px solid black;
}

input[type="search"]{
  width: 50%;
  height: 2.5rem;
  padding-left: 0.5em;
  font-size: 18pt;
}
.nav-user{
  width:15%;
}
.nav-user ul{
  display: flex;
  gap: 1.2rem;
  list-style: none;
  cursor: pointer;
}
.nav-side{
  background-color: var(--fundo);
  color: #ffff;
  position:fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
  border: 2px solid black;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all .5s ease-in;
  z-index: 2;
}
.user-avatar{
  font-size: 10pt;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform .5s ease-in;
}
.user-avatar-img{
  background-color: gray;
  width: 7rem;
  height: 7rem;
  border-radius: 50rem;
}
.user-avatar-img img{
  width: 100%;
  height: 100%;
  text-align: center;
}
.user-avatar:hover{
  transform: scale(1.2);
}
.nav-side ul li{
  margin-bottom: 5px;
  font-size: 18pt;
  cursor: pointer;
  padding-left: 1.5rem;
  transition: transform .5s ease;
}
.nav-side ul li:hover{
  transform: translateX(5px) scale(1.2);
}
.nav-side.ExibirMenu{
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}
.navigation-user{
  border: 2px solid black;
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform .5s ease-in-out;
  width: 60%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}
.navmove{
  transform: translateX(33%);
  transition: transform .5s ease-in-out;
}
.initial-options{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 2.6rem;
  border-bottom: 2px solid black;
}
.initial-options ul{
  width: 100%;
  display: flex;
  gap: 5rem;
  text-align: center;
  align-items: center;
  list-style: none;
}
.initial-options ul li{
  width: 100%
}
.conteudo{
  width: 100%;
  min-height: 100vh;  
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 2rem;
}
.posts{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
}
.img-post{
  width: 100%;
  max-height: 400px;
  height: auto;
  text-align: center;
  border: 2px solid black;
}
.img-post img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descricao-post{
  width: 100%;
  padding: .5rem 1.2rem;
  text-spacing-trim: 5px;
  font-size: 18pt;
  font-weight: 400;
}
.footer-post{
  width: 100%;
  height: 2.5rem;
  padding: 0 2.5rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;

}
.footer-post ul{
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.no-obra{
  position: relative;
  top: 20%;
  left: 20%;
  font-size: 30pt;
  font-weight: 800;

}
.nome-desc{
  font-weight: 300;
  position: relative;
}


