.modal-welcome {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
}

.modal-welcome-content h2 {
    margin-top: 0;
}

.close-welcome-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-welcome-button:hover,
.close-welcome-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-welcome-button-main {
    background-color: #8c19cd;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.close-welcome-button-main:hover {
    background-color: #45a049;
}
